/* Landscape background */

position: absolute;
width: 839px;
height: 313px;
left: -259px;
top: 35px;

background: url(image.png);

/* DISPLAY IMAGE XXXXXXXXXXXXXXXXXXXXXXXXXXX */

position: absolute;
width: 146px;
height: 177px;

background: url(IMG_2175.jpg), #C4C4C4;

/* HTML */

position: absolute;
width: 60px;
height: 60px;
left: 53px;
top: 938px;

background: url(image.png);

/* CSS */

position: absolute;
width: 60px;
height: 60px;
left: 130px;
top: 938px;

background: url(image.png);

/* Javascript */

position: absolute;
width: 60px;
height: 60px;
left: 206px;
top: 938px;

background: url(image.png);

/* Ruby */

position: absolute;
width: 69px;
height: 60px;
left: 53px;
top: 1016px;

background: url(image.png);

/* Rails */

position: absolute;
width: 60px;
height: 60px;
left: 134px;
top: 1016px;

background: url(image.png);

/* Express.js */

position: absolute;
width: 60px;
height: 60px;
left: 206px;
top: 1016px;

background: url(image.png);
background-blend-mode: multiply;

/* Mongo.db */

position: absolute;
width: 55px;
height: 60px;
left: 97px;
top: 1094px;

background: url(image.png);

/* React.js */

position: absolute;
width: 67px;
height: 60px;
left: 172px;
top: 1094px;

background: url(image.png);

/* Decision-maker */

position: absolute;
width: 77px;
height: 73px;
left: 19px;
top: 1275px;

background: url(image.png);

/* Pokemon */

position: absolute;
width: 77px;
height: 73px;
left: 19px;
top: 1354px;

background: url(image.png);

/* Coffee-mugs */

position: absolute;
width: 77px;
height: 73px;
left: 19px;
top: 1433px;

background: url(image.png);

/* Linkedin */

position: absolute;
width: 20px;
height: 20px;
left: 115px;
top: 2351px;

background: url(image.png);

/* Twitter */

position: absolute;
width: 20px;
height: 20px;
left: 149px;
top: 2351px;

background: url(image.png);

/* Github */

position: absolute;
width: 20px;
height: 20px;
left: 183px;
top: 2351px;

background: url(image.png);