/* NAVBOX1 */

position: absolute;
width: 64px;
height: 35px;
left: 0px;
top: 0px;

background: #222C24;

/* ABOUT */

position: absolute;
width: 40px;
height: 15px;
left: 16px;
top: 10px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 9px;

color: #CED2D2;

/* NAVBOX2 */

position: absolute;
width: 64px;
height: 35px;
left: 64px;
top: 0px;

background: #222C24;


/* SKILLS */

position: absolute;
width: 32px;
height: 15px;
left: 80px;
top: 10px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 9px;

color: #CED2D2;

/* NAVBOX3 */

position: absolute;
width: 64px;
height: 35px;
left: 128px;
top: 0px;

background: #222C24;


/* PORTFOLIO */

position: absolute;
width: 52px;
height: 15px;
left: 135px;
top: 10px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 9px;

color: #CED2D2;

/* NAVBOX4 */

position: absolute;
width: 64px;
height: 35px;
left: 192px;
top: 0px;

background: #222C24;


/* RESUME */

position: absolute;
width: 43px;
height: 15px;
left: 205px;
top: 10px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 9px;

color: #CED2D2;

/* NAVBOX5 */

position: absolute;
width: 64px;
height: 35px;
left: 256px;
top: 0px;

background: #222C24;


/* CONTACT */

position: absolute;
width: 44px;
height: 15px;
left: 266px;
top: 10px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 9px;

color: #CED2D2;
