/* Global colors */
$lightseagreen: #1793BB;
$skyblue: #7CD8EA;
$lightsteelblue: #CED2D2;
$darkslateblue: #3D707E;
$darkslategray: #232D24;

/* Additional scss files */
@import 'nav';
@import 'flexbox';
@import 'images';

